#container {
    perspective: 3000px;
    perspective-origin: 50% 200px;
}

#controls {
    position: relative;
    margin: 0px auto;
    height: 70px;
    width: 400px;
}

#cube {
    position: relative;
    margin: 100px auto;
    height: 400px;
    width: 400px;
    transition: transform 0.25s linear;
    transform-style: preserve-3d;
    transform-origin: 200px 200px 200px;
}

.slice {
    position: absolute;
    height: 400px;
    width: 400px;
    padding: 0px;
    background-color: rgba(50, 50, 50, 0.1);
    color: #fff;
    border: 1px solid rgba(50, 50, 50, 0.2);
    border-radius: 3px;
}

.slice .cell {
    position: absolute;
    width: calc(100%/8);
    height: calc(100%/8);
    /* Set the width and height of cells for a 8x8 board */
    
    border-radius: 4px;
    border: 1px solid rgba(50, 50, 50, 0.10);
    background-color: rgba(50, 50, 50, 0.05);
    display: inline-block;
    /* We want the divs to sit alongside one another */
}

.cell .led {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 20px;
    width: 20px;
    border: 0px solid #aaa;
    border-radius: 10px;
    background-color: rgba(50, 50, 255, 0.4);
    color: #fff;
    display: inline-block;
}

.face {
    position: absolute;
    height: 440px;
    width: 440px;
    padding: 0px;
    background-color: rgba(255, 50, 50, 0.05);
    color: #fff;
    border: 1px solid #555;
    border-radius: 3px;
}

#cube .yz {
    visibility: visible;
}

#cube .yz .face {
    visibility: visible;
}

#cube .xz {
    visibility: visible;
}

#cube .xz .face {
    visibility: visible;
}

#cube .xy {
    visibility: visible;
}

#cube .xy .face {
    visibility: visible;
}


#cube #front {
    transform: translateX(-20px) translateY(-20px) translateZ(420px);
}

#cube #xy1 {
    transform: translateZ(375px);
}

#cube #xy2 {
    transform: translateZ(325px);
}

#cube #xy3 {
    transform: translateZ(275px);
}

#cube #xy4 {
    transform: translateZ(225px);
}

#cube #xy5 {
    transform: translateZ(175px);
}

#cube #xy6 {
    transform: translateZ(125px);
}

#cube #xy7 {
    transform: translateZ(75px);
}

#cube #xy8 {
    transform: translateZ(25px);
}

#cube #back {
    transform: rotateY(180deg) translateX(20px) translateY(-20px) translateZ(20px);
}

#cube #top {
    transform: rotateX(90deg) translateX(-20px) translateY(200px) translateZ(240px);
}

#cube #yz1 {
    transform: rotateX(90deg) translateY(200px) translateZ(175px);
}

#cube #yz2 {
    transform: rotateX(90deg) translateY(200px) translateZ(125px);
}

#cube #yz3 {
    transform: rotateX(90deg) translateY(200px) translateZ(75px);
}

#cube #yz4 {
    transform: rotateX(90deg) translateY(200px) translateZ(25px);
}

#cube #yz5 {
    transform: rotateX(90deg) translateY(200px) translateZ(-25px);
}

#cube #yz6 {
    transform: rotateX(90deg) translateY(200px) translateZ(-75px);
}

#cube #yz7 {
    transform: rotateX(90deg) translateY(200px) translateZ(-125px);
}

#cube #yz8 {
    transform: rotateX(90deg) translateY(200px) translateZ(-175px);
}

#cube #bottom {
    transform: rotateZ(180deg) rotateX(90deg) translateX(20px) translateY(200px) translateZ(200px);
}

#cube #left {
    transform: rotateY(-90deg) translateY(-20px) translateX(200px) translateZ(240px);
}

#cube #xz1 {
    transform: rotateY(-90deg) translateX(200px) translateZ(175px);
}

#cube #xz2 {
    transform: rotateY(-90deg) translateX(200px) translateZ(125px);
}

#cube #xz3 {
    transform: rotateY(-90deg) translateX(200px) translateZ(75px);
}

#cube #xz4 {
    transform: rotateY(-90deg) translateX(200px) translateZ(25px);
}

#cube #xz5 {
    transform: rotateY(-90deg) translateX(200px) translateZ(-25px);
}

#cube #xz6 {
    transform: rotateY(-90deg) translateX(200px) translateZ(-75px);
}

#cube #xz7 {
    transform: rotateY(-90deg) translateX(200px) translateZ(-125px);
}

#cube #xz8 {
    transform: rotateY(-90deg) translateX(200px) translateZ(-175px);
}

#cube #right {
    transform: rotateY(90deg) translateY(-20px) translateX(-200px) translateZ(200px);
}

.label {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 48px;
    line-height: 1em;
    color: #555;
    transform: translateX(-50%) translateY(-50%);
}
